.Form__wrapper,
.Form__form{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
}
.Form__wrapper{
    max-width: 50em;
    height: auto;
    margin: 1em auto;
}
.Form__form{    
    background-color: var(--fontColor);
    color:var(--bgColor);
    font-size: 16px;
    width: 100%;
    min-width: 20em;
}
.Form_border{
    border: 2px solid var(--lightgreenColor);
    border-radius: 5px;
}
.Form__row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.Form__label,
.Form__input,
.Form__btn{
    margin: .5em;
}
.Form__input,
.Form__btn{
    outline: none;
}
.Form__label{    
    width:70%;
}
.Form__input{
    width:20%;
    padding-left: 1em;
}
.Form__btn{
    width:100%;
    color:var(--fontColor);
    font-weight: bold;
    background-color: var(--lightgreenColor);
}